{%include "base.html" %}
<div class="page-content" style="padding-top: 150px">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-10 col-md-12 m-auto text-center">
        <p class="mb-20">
          <img src="/static/images/404.png" alt="" class="hover-up" />
        </p>
        <h1 class="display-2 mb-30">Página não encontrada</h1>
        <p class="font-lg text-grey-700 mb-30">
          O link em que você clicou pode estar quebrado ou a página pode ter sido
          removido.<br />
          Visite a <a href="/"> <span> Home</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
